<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loginStudy.mapper.UserMapper">
    <select id="findAll" resultType="com.loginStudy.domain.User">
        SELECT * FROM users
    </select>

    <insert id="addUser" parameterType="com.loginStudy.domain.User">
        INSERT INTO users (id, pw, name)
        VALUES (#{id}, #{pw}, #{name})
    </insert>

    <select id="findUserById" resultType="com.loginStudy.domain.User" parameterType="int">
        SELECT *
        FROM users
        WHERE num = #{num}
    </select>

    <select id="findByLoginId" resultType="com.loginStudy.domain.User" parameterType="String">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="com.loginStudy.domain.User">
        UPDATE users
        SET name = #{name}, pw = #{pw}
        WHERE num = #{num}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM users
        WHERE num = #{num}
    </delete>
</mapper>