<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>회원 관리</title>
</head>

<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 관리 페이지</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/users/add}'|"
                    type="button">회원 등록
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>회원번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>비밀번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.num}"></td>
                <td><a th:text="${user.name}" th:href="@{/users/{userNum}(userNum=${user.num})}" ></a></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.pw}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
